
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MSFJS Web Interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MSFJS Web Interface">
    <meta name="author" content="Adam Brady">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed">
     <div class="navbar-inner">
       <div class="container">
         <a class="brand" href="../">MSFJS</a>
         <div class="nav-collapse" id="main-menu">
          <ul class="nav" id="main-menu-left">
            <li><a id="swatch-link" href="/">Home</a></li>
            <li><a id="swatch-link" href="/exploits">Exploits</a></li>
            <li class="active"><a id="swatch-link" href="/payloads">Payloads</a></li>
          </ul>
         </div>
       </div>
     </div>
   </div>

   <div class="container">

        <!-- Exploits
        ================================================== -->
        <section id="payloads">
          <div class="page-header">
            <h1>Payloads</h1>
          </div>

          <!-- Headings & Paragraph Copy -->
          <div class="row">

                <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Payload Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% for(var i = 0; i < payloads.length; i++) { %>

                      <tr>
                        <td> <%=i%> </td>
                        <td> <%=payloads[i].payload%> </td>
                        <td> <%=payloads[i].description%> </td>
                      <tr>

                    <% } %>

                  </tbody>
                </table>
          </div>

        </section>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">

      <center>
        <a href="http://github.com/SomeoneWeird/msfjsweb/">MSFJS on GitHub</a>
      </center>

    </footer>
  </body>
</html>
